<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>kahoot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">kahoot</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Container -->
  <div [ngSwitch]="currentKahootState">
    <!-- State : ENTRY_PSEUDO : Le formulaire pseudo + commencer -->
    <div *ngSwitchCase="KahootState.WAIT_PLAYER_PSEUDO">
      <!-- Pseudo -->
      <ion-item>
        <ion-input label="Pseudo" placeholder="Entrer un pseudo"></ion-input>
      </ion-item>
      
      <!-- Button Start -->
      <ion-button expand="full" (click)="startGame()">Start</ion-button>
    </div>

    <!-- State : GAME_PLAY : Le jeu  -->
    <div *ngSwitchCase="KahootState.GAME_PLAY" [ngSwitch]="currentGameState">
      <!-- State : WAIT QUESTION REPLY -->
      <div *ngSwitchCase="GameState.WAIT_QUESTION_REPLY">
        <!-- La question formulée -->
        <ion-item>
          La question : {{ kahootGame.getCurrentQuestion().message }}
        </ion-item>
        <!-- Les réponses possibles -->
        <ion-list>
          <ion-button *ngFor="let reply of kahootGame.getCurrentQuestion().replies" expand="full" (click)="onClickReply(reply)">{{ reply.message }}</ion-button>
        </ion-list>
      </div>

      <!-- State : QUESTION RESULT -->
      <div *ngSwitchCase="GameState.QUESTION_RESULT">
        <p>La bonne réponse est : {{ kahootGame.getCurrentQuestion().getCorrectAnwser().message }}</p>
        <ion-button expand="full" (click)="onClickNextQuestion()">Question Suivante</ion-button>
      </div>

      <!-- State : GAME RESULT -->
      <div *ngSwitchCase="GameState.GAME_RESULT">
        <p>La bonne réponse est : {{ kahootGame.getCurrentQuestion().getCorrectAnwser().message }}</p>
        <p>Votre score total est de : {{ kahootGame.score }}</p>
        <ion-button expand="full" (click)="onClickRestart()">Rejouer</ion-button>
        <ion-button expand="full" (click)="onClickQuitGame()">Quitter</ion-button>
      </div>
      
    </div>
  </div>
</ion-content>
