<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Le prenom est : {{ firstname }}</p>
    <!-- Input : String prenom -->
    <ion-item>
      <ion-input [(ngModel)]="firstname" label="Prenom" placeholder="Enter a firstname"></ion-input>
    </ion-item>

    <!-- Input : String prenom -->
    <!-- <ion-item>
      <ion-input (ngModel)="firstname" label="Prenom (One Way Binding = Ctrl Vers Vue)" placeholder="Enter a firstname"></ion-input>
    </ion-item> -->

    <!-- Input : Attribut d'une instance -->
    <ion-item>
      <ion-input [(ngModel)]="currentPerson.firstname" label="Prenom d'une personne" placeholder="Enter a firstname"></ion-input>
    </ion-item>

    <!-- On click -->
    <ion-button (click)="onClickTest()">Test Clique</ion-button>
    
    <!-- Formulaire article -->
    <h2>Article Formulaire</h2>
   <!-- Input : String title -->
    <ion-item>
     <ion-input (ngModel)="article.title" label="Titre" placeholder="Titre de l'article"></ion-input>
    </ion-item>
     <!-- La ListView -->
    <!-- <ion-list>
      <ion-item *ngFor="let person of persons">
        <ion-label>{{ person.firstname }} {{ person.lastname }}</ion-label>
      </ion-item>
    </ion-list> -->

  </div>
</ion-content>
